{% extends 'base.html.twig' %}

{% block body %} <h1 style='margin-top:20px'>Lista de actividades</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Actividad</th>
      <th scope="col">Fecha</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    {% for t in test %}
    <tr>
      <th scope="row">{{t.id}}</th>
      <td>{{t.name}}</td>
      <td>{{t.date|date('d/m/y')}}</td>
      <td><a href="/test/details/{{t.id}}" class="btn btn-success">Detalles</a>
        <a href="/test/edit/{{t.id}}" class="btn btn-default">Editar</a>
        <a href="/test/delete/{{t.id}}" class="btn btn-danger">Borrar</a>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
